header(class="header")
  p(class="header__logo")
    a(
    href="#"
    class="logo__link"
    ) Eco-Store
  nav(class="header__navbar")
    ul(class="navbar__list")
      li(class="list__item")
        a(
          href="#"
          class="item__link"
        )
          include ../../../icons/user-profile.svg
      li(class="list__item")
        a(
          href="#"
          class="item__link"
        )
          include ../../../icons/favorites.svg
      li(class="list__item")
        a(
          href="#"
          class="item__link"
        )
          include ../../../icons/shopping-cart.svg
      li(class="list__item")
        a(
          href="#"
          class="item__link"
        )
          include ../../../icons/burguer-menu.svg
