section(class="hero")
  section(class="hero__summary")
    div(class="summary__text")
      h1(class="text__title") Impacto Ecológico
      p(
        class="text__description"
      ) Debido al impacto ambiental siendo las acciones humanas las que  modifican el ambiente, Eco-store se compromete a elaborar sus productos de manera artesanal y con materiales que favorecen al cuidado del medio ambiente.
    div(class="summary__button")
      a(
        href="#"
        class="button__cta"
      ) Conoce mas
  section(class="hero__image-box")
    img(
      src="./assets/img/hero.png"
      class="image-box__image"
    )
